html,body {
  margin: 0;
  padding: 0;
}

div.container {
  height: 100vh;
  position: relative;
}
div.main {
  #vegetable {
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  div.container {
    width: 100%;
    height: 70vh;
  }
}
